{
    "log_level": "ERROR",
    "mysql": {
      "host": "192.168.10.216",
      "port": 3306,
      "user": "npm",
      "password": "npm",
      "database": "npm"
    },
    "cloudflare": {
      "dns_record_type": "A",
      "cf_comment": "Managed by DDNS script",
      "domains": [
        {
          "name": "hung99.com",
          "cf_token": "UTo_hxQzxCiLRthRbN48RaFQwV3o1C6gp8BXEXGa",
          "zone_id": "d1ef066eef4d295c27a78fcf30e3bc7c"
        },
        {
          "name": "homelabs.vn",
          "cf_token": "wFv6FinGxHpFvYkdXLPSpK8xL4blVVoce2Q9x1kP",
          "zone_id": "ac0b1934d186b6ef0a800b8708f32dd3"
        }
      ]
    },
    "paths": {
      "ip_file_path": "current_ip.txt",
      "log_file": "ddns_debug.log",
      "lock_file": "/tmp/ddns_update.lock",
      "last_hosts_file": "last_hosts.txt"
    }
  }
  